* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background-color: #d3d9d3;
  text-align: center;
  font-size: 1.6rem;
}

header {

  select {
    padding: .5rem;
    margin: 1rem;
    background-color: #e2f170;
    border: none;
  }
}

main {
  background-color: #72f672;
  width: min(38rem, 80%);
  margin: auto;
  border-radius: 1rem;
}

.wrapper {
  display: flex;
  text-align: center;
  padding: 1rem;
  justify-content: space-around;
  align-items: center;

  input {
    border: none;
    background-color: #72f672;
    width: 5rem;
    text-align: center;

    :focus {
      border-bottom: 1px solid black;
      list-style: none;
    }
  }
}

label {
  display: flex;
  gap: 1rem;
}

.division {
  border-bottom: .3rem solid black;
  width: 90%;
  height: 1.5rem;
  display: flex;
  margin: auto;
}

.total {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}